body {
    background: #f4f5f7;
    font-family: Arial, sans-serif;
}

.container {
    width: 40%;
    margin: auto;
    margin-top: 70px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 12px #ccc;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button, .btn {
    background: #007bff;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

button:hover, .btn:hover {
    background: #0056b3;
}

.spam {
    color: red;
    font-weight: bold;
}
.ham {
    color: green;
    font-weight: bold;
}
